aiogram==2.9.2
aiohttp==3.6.2
async-timeout==3.0.1
asyncio-redis==0.16.0
attrs==19.3.0
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
idna==2.10
mock==2.0.0
multidict==4.7.6
pbr==5.4.5
pytz==2020.1
requests==2.24.0
six==1.15.0
spotipy==2.13.0
urllib3==1.25.10
yarl==1.5.1
